body {
    margin: 0;
    padding: 0;
}

.background {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    background: url("../assets/img/bg.jpg") no-repeat top center #f8f8f8;
}

.arrow {
    width: 12px;
    height: 17px;
    background: url("../assets/img/arrow.png") no-repeat center;
    position: absolute;
    top: 495px;
    right: calc(38/1280*100%);
}

.arrow:hover {
    cursor: pointer;
    filter: invert(100%);
}

header, main, footer {
    max-width: 940px;
    margin: 0 auto;
}

header {
    height: 510px;
    padding-top: 40px;
    margin-bottom: 140px;
}

header .top {
    display: flex;
}

header .logo {
    align-self: start;
    cursor: pointer;
}

header nav {
    margin: 10px 0 0 90px;
    width: calc(410/940*100%);
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

header nav ul li {
    margin-left: 10px;
}

header nav ul li a {
    font-family: "Basis Grotesque Pro Medium";
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}

header nav ul li:hover {
    cursor: pointer;
    border-bottom: 2px solid #fff;
}

header .border {
    position: relative;
    height: 100px;
    width: 150px;
    top: 124px;
    left: 0;
    border: 6px solid #fff;
    border-bottom: 0;
    border-right: 0;
}

header h1 {
    font-family: "Basis Grotesque Pro Black";
    font-size: 40px;
    color: #fff;
    padding: 19px 0 0 45px;
    line-height: 48px;
}

main section {
    display: flex;
    flex-wrap: wrap;
}

main section div {
    font-family: "Basis Grotesque Pro Medium";
    color: #818181;
}

main section div h2 {
    font-family: "Basis Grotesque Pro Black";
    font-size: 20px;
    border-top: 5px solid #0a0a0b;
    margin: 0;
}

main section div h2, .intro span {
    color: #0a0a0b;
}

main section .intro {
    width: 390px;
    height: 485px;
    display: flex;
    flex-direction: column;
    margin: -190px 0 20px 0;
    padding: 50px 80px 100px 70px;
    background-color: #fff;
    line-height: 45px;
    font-size: 16px;
}

main section .intro button, .team div button {
    align-self: center;
    font-family: "Basis Grotesque Pro Black";
    width: calc(287/390*100%);
    flex: 0 0 63px;
    font-size: 16px;
    background: #fff;
    border: 3px solid #e8e8e8;
    margin: 26px -13px 0 0;
    cursor: pointer;
}

main section .intro button img, .team div button img, .modal form button img {
    vertical-align: middle;
    margin-left: calc(30/285*100%);
    transform: rotate(-90deg);
    filter: invert(100%);
}

main section .intro button:hover, .team div button:hover, .modal form button:hover {
    filter: invert(100%);
}

main section .lines, .quality, .team div {
    width: 260px;
    font-size: 14px;
    align-self: baseline;
}

main section .lines {
    height: 340px;
    background-color: #f9f5d5;
    margin-bottom: 25px;
    padding: 79px 70px 100px 70px;
    line-height: 34px;
}

main section .lines h2 {
    padding-top: 19px;
}

main section .lines p {
    padding: 4px 0 27px;
    border-bottom: 1px solid #e1ddc0;
}

main section .quality {
    height: 523px;
    background-color: #e9f6fd;
    padding: 80px 70px 100px 70px;
    line-height: 35px;
}

main section .quality h2 {
    padding-top: 19px;
}

main section .quality p {
    padding: 4px 0 25px;
    border-bottom: 1px solid #dae6ed;
}

main section .team {
    width: calc(540/940*100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 53px 0 163px;
}

main section .team div {
    height: 332px;
    background-color: #ffe5e4;
    padding: 80px 70px 100px 70px;
    margin: -83px 0 0 -20px;
}

main section .team div h2 {
    padding-top: 23px;
}

main section .team div p {
    padding: 8px 0 5px;
    line-height: 35px;
}

main section .team div button {
    width: 100%;
    height: 64px;
    margin: 7px -16px 0 0;
    background-color: #ffe5e4;
    border-color: #e8d0cf;
}

main section .team div button img {
    margin-left: calc(91/260*100%);
}

.box {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.box-inner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #343434;
    opacity: 0.7;
}

.modal {
    position: absolute;
    top: 254px;
    bottom: 0;
    right: 0;
    left: 0;
    max-width: 520px;
    max-height: 615px;
    margin: auto;
    padding: 10px;
    background: #fff;
}

.modal form {
    display: flex;
    flex-flow: column wrap;

}

.modal form .close {
    cursor: pointer;
    align-self:  flex-end;
    font-size: 25px;
    padding: 3px 8px 0 0;
}

.modal form p {
    font-family: "Basis Grotesque Pro Bold";
    font-size: 16px;
    text-align:  center;
    margin: 7px 0 29px 2px;
}


.modal form input, .modal form textarea, .modal form button {
    align-self: center;
    background: #fff;
    border: 3px solid #e8e8e8;
    width: 465px;
    margin-bottom: 15px;
    font-family: "Basis Grotesque Pro Bold";
    font-size: 16px;
    color: #b6b6b6;
}

.modal form input {
    max-width: 439px;
    height: 52px;
    padding: 5px 0 0px 18px;
    margin: 0px -9px 16px 0;
}

.modal form input::-webkit-input-placeholder,
.modal form textarea::-webkit-input-placeholder {
    color: #b6b6b6;
}

.modal form textarea {
    max-width: 440px;
    height: 198px;
    padding: 22px 0 0 19px;
    margin: 0 0 23px 10px;
}

.modal form button {
    max-width: 286px;
    height: 65px;
    color: #0a0a0b;
    margin: 0 -10px 0 0;
    padding: 0px 0px 3px 93px;
}

.modal form button img {
    margin-left: 85px;
}

footer {
    font-family: "Basis Grotesque Pro Medium";
    background-color: #fff;
    padding: 61px 10px 20px 10px;
}

footer .logo {
    display: inline-block;
    width: 30px;
    filter: invert(100%);
    align-self: flex-start;
    cursor: pointer;
}

footer h3 {
    font-family: "Basis Grotesque Pro Black";
    font-size: 16px;
    color: #0a0a0b;
    margin: 0;
}

footer section > h3 {
    display: inline-block;
    margin: 8px 0 33px 0px;
    white-space: pre;
    flex: 0 0 100%;
}

footer section > h3 span {
    letter-spacing: -5px;
}

footer section {
    display: flex;
    flex-wrap: wrap;
    margin: -51px 0 0px 81px;
    line-height: 35px;
    padding: 0 0 67px 0;
}

footer section ul {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #818181;
    list-style: none;
}

footer section .rotterdam {
    margin-left: 79px;
    padding: 0;
}

footer section img {
    align-self: flex-start;
    cursor: pointer;
}

footer section .twitter {
    margin: 10px 0 0 70px;
}

footer section .linkedin {
    margin: 7px 0 0 57px;
}

footer .copyright {
    text-align: right;
    font-size: 12px;
    border-top: 1px solid #e5e5e5;
    padding: 33px 2px 0 0;
}

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .arrow {
        top: 475px;
    }

    main section .intro, .lines p {
        line-height: 25px;
    }

    main section .team div p {
        line-height: 20px;
    }

    main section .team {
        margin-bottom: 20px;
    }

    main section .team div {
        margin-top: 20px;
    }

    footer section .rotterdam {
        margin-left: 0;
    }

    footer section .twitter {
        margin-left: 0;
    }
}