body {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
    background: url("../assets/img/bg.jpg") no-repeat top center;
    position: relative;
}

body .arrow {
    width: 12px;
    height: 17px;
    background: url("../assets/img/arrow.png") no-repeat center;
    position: absolute;
    top: 495px;
    right: calc(47/1280*100%);
}

body .arrow:hover {
    cursor: pointer;
    filter: invert(100%);
}

header, main, footer {
    max-width: 940px;
    margin: 0 auto 140px auto;
}

header {
    height: 510px;
    padding-top: 40px;
}

header .top {
    display: flex;
}

header .logo {
    align-self: start;
    cursor: pointer;
}

header nav {
    margin: 10px 0 0 90px;
    width: calc(410/940*100%);
}

header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

header nav ul li {
    margin-left: 10px;
}

header nav ul li a {
    font-family: "Basis Grotesque Pro Medium", sans-serif;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
}

header nav ul li:hover {
    cursor: pointer;
    border-bottom: 2px solid #fff;
}

header .border {
    position: relative;
    height: 100px;
    width: 150px;
    top: 124px;
    left: 0;
    border: 6px solid #fff;
    border-bottom: 0;
    border-right: 0;
}

header h1 {
    font-family: "Basis Grotesque Pro Black", sans-serif;
    font-size: 40px;
    color: #fff;
    padding: 19px 0 0 45px;
    line-height: 48px;
}

main {

}

main section {
    display: flex;
    flex-wrap: wrap;
}

main section div {
 /* border: 1px solid black; */
}

main section .dialog {
    width: 400px;
    height: 480px;
    margin: -190px 0 20px 0;
    padding: 80px 70px 100px 70px;
    background-color: #f3f3f3;
}

main section .lines, .quality, .team {
    width: 260px;
    height: 360px;
    padding: 80px 70px 100px 70px;
}

main section .lines {
    background-color: #f9f5d5;
    margin: 0 0 20px 0;
}

main section .quality {
    background-color: #e9f6fd;
}

main section .image {
    width: 400px;
    height: 480px;
}

main section .team {
    background-color: #f8e4e3;
    justify-self: right;
}

footer .logo {
    filter: invert(100%);
}

footer .copyright {
    text-align: right;
}